#banner {
    margin: 0;
    text-align: left;
    width: 100%;
    color: #121843;
    background-color: lightsteelblue;
    border: 1px solid black;
    height: 45px;
}

img{
    height: 40px;
}

#buttons {
    text-align: right;
    margin-top: -35px;
}

form{
    text-align: right;
    margin-top: -35px;
    display: inline-block;
}

/*https://stackoverflow.com/questions/3313383/jsf-commandbutton-styling
https://www.w3schools.com/howto/howto_css_animate_buttons.asp*/