#banner {
    text-align: center;
}

body {
    padding-top: 30px;
}

#page {
    text-align: center;
    padding-top: 30px;
}

form {
    margin: auto;
    padding: 30px 3%;
    width: 300px;
    color: #121843;
    background-color: lightsteelblue;
    border: 3px solid black;
    border-radius: 8px;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

#accounts {
    font-size: 12px;
}

a:link{
    color: #3a24a8;
    text-decoration: none;
}

input[type=text], input[type=password] {
    width: 94%;
    height: 32px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
}

/*https://stackoverflow.com/questions/3313383/jsf-commandbutton-styling
https://www.w3schools.com/howto/howto_css_animate_buttons.asp*/
.button{
    background-color: #7489a3;
    border: 2px solid black;
    border-radius: 5px;
    color: #121843;
    text-align: center;
    font-size: 16px;
}

.button:hover {
    background-color: #a6c1dc;
}

.button:active {
    background-color: #414d64;
}