body {
    background-color: azure;
}

#header {
    width: 100%;
    height: 15%;
}

#content {
    width: 100%;
    height: 80%;
}

#footer {
    width: 100%;
    height: 5%;
    color: darkslategrey;
    font-size: 8px;
}

