body {
    background-color: #333333;
}

page {
    padding-top: 10%;
}

form {
    margin: auto;
    padding-left: 3%;
    padding-bottom: 20px;
    width: 30%;
    border: 3px solid black;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

input[type=text], input[type=password] {
    width: 94%;
    height: 32px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
}

logo {
    height: 200px;
}