html {
    height: 100%;
}

body {
    background-color: azure;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    margin: 0;
}

#header {
    width: 100%;
    height: 45px;
    display: inline-block;
}

#content {
    width: 100%;
    height: 80%;
    display: inline-block;
}

#footer {
    width: 100%;
    height: 20px;
    display: inline-block;
    color: darkslategrey;
    font-size: 8px;
    bottom: 0;
    left: 0;
    position: absolute;
    text-align: center;
}

#messages td { white-space: pre; }

/*https://stackoverflow.com/questions/3313383/jsf-commandbutton-styling
https://www.w3schools.com/howto/howto_css_animate_buttons.asp*/
.button{
    background-color: #7489a3;
    border: 1px solid black;
    border-radius: 5px;
    color: #121843;
    text-align: center;
    font-size: 16px;
    margin-bottom: 8px;
}

.button:hover {
    background-color: #a6c1dc;
}

.button:active {
    background-color: #5d6d85;
}