body {
    background-color: #333333;
}

page {
    padding-top: 5%;
}

form {
    margin: auto;
    padding-top: 15px;
    width: 40%;
    border: 3px solid black;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

input[type=text], input[type=password] {
    width: 70%;
    padding: 12px 18px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
}